# FordGoBike 



Here, we will analyse and visualise FordGoBike dataset. This dataset contains infomation about each trip (anonimized).

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

The data is loaded into a dataframe from 'fordgobike-tripdata-2019.csv'

In [2]:
fgb = pd.read_csv('fordgobike-tripdata-2019.csv')

In [3]:
fgb.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,53588,2019-03-31 20:59:21.8780,2019-04-01 11:52:30.2000,377.0,Fell St at Stanyan St,37.771917,-122.453704,377.0,Fell St at Stanyan St,37.771917,-122.453704,6803,Subscriber,1980.0,Other,No
1,74305,2019-03-31 13:56:46.0050,2019-04-01 10:35:11.4540,385.0,Woolsey St at Sacramento St,37.850578,-122.278175,233.0,4th Ave at E 12th St (Temporary Location),37.795913,-122.255547,6415,Subscriber,1990.0,Male,No
2,79789,2019-03-31 11:48:34.2010,2019-04-01 09:58:23.8240,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,345.0,Hubbell St at 16th St,37.766483,-122.398279,2317,Customer,NaN,NaN,No
3,59315,2019-03-31 16:48:54.3740,2019-04-01 09:17:30.1540,92.0,Mission Bay Kids Park,37.772301,-122.393028,49.0,S Park St at 3rd St,37.780760,-122.394989,6631,Customer,1996.0,Female,No
4,47886,2019-03-31 19:54:24.1480,2019-04-01 09:12:30.8170,339.0,Jackson St at 11th St,37.800002,-122.266438,18.0,Telegraph Ave at Alcatraz Ave,37.850222,-122.260172,5241,Subscriber,1974.0,Female,No

In [5]:
#Structure of the dataframe
fgb.shape

(256299, 16)

### Assessing data

In [6]:
fgb.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,member_birth_year
count,256299.000000,256078.000000,256299.000000,256299.000000,256078.000000,256299.000000,256299.000000,256299.000000,244576.000000
mean,807.873831,141.352424,37.771769,-122.356164,140.011317,37.771933,-122.355815,4916.572531,1984.989050
std,2056.305336,115.408300,0.097027,0.114907,115.386716,0.096979,0.114620,1687.339951,10.077825
min,61.000000,3.000000,37.315158,-122.453704,3.000000,37.315158,-122.453704,11.000000,1878.000000
25%,338.000000,47.000000,37.770083,-122.415204,44.000000,37.770407,-122.413004,4525.000000,1980.000000
50%,542.000000,104.000000,37.780787,-122.398870,102.000000,37.781010,-122.398525,5369.000000,1987.000000
75%,854.000000,240.000000,37.797280,-122.293528,239.000000,37.797320,-122.293528,6127.000000,1992.000000
max,85676.000000,407.000000,37.880222,-121.874119,407.000000,37.880222,-121.874119,7082.000000,2001.000000

In [7]:
fgb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256299 entries, 0 to 256298
Data columns (total 16 columns):
duration_sec               256299 non-null int64
start_time                 256299 non-null object
end_time                   256299 non-null object
start_station_id           256078 non-null float64
start_station_name         256078 non-null object
start_station_latitude     256299 non-null float64
start_station_longitude    256299 non-null float64
end_station_id             256078 non-null float64
end_station_name           256078 non-null object
end_station_latitude       256299 non-null float64
end_station_longitude      256299 non-null float64
bike_id                    256299 non-null int64
user_type                  256299 non-null object
member_birth_year          244576 non-null float64
member_gender              244576 non-null object
bike_share_for_all_trip    256299 non-null object
dtypes: float64(7), int64(2), object(7)
memory usage: 24.4+ MB

From the data we will find out if there are 
- any popular start stations (start_station_name will help in this case)
- which day people take most trips on (start_time will help in this case)
- Which age group take most number of trips (member_birth_year will help in this case)
- Are people subscribers or casual users (user_type will help in this case)
- WHich gender takes more number of rides (member_gender will help in this case)

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!